* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}


div.container {
    margin: 0;
    display: flex;
    width: 1352px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


div.container a.clikableLogo {
    font-family: 'Raleway', sans-serif;
    color: #08A6E4;
    font-size: 2rem;
    text-decoration: none;
}

div.container a.clikableLogo:hover {
}


nav ul {
    display: flex;
    flex-direction: row;

}

ul li {
    display: flex;
    flex-direction: row;
    padding-right: 95px;

}

nav a {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    height: 68px;
    text-decoration: none;
    color: black;
}


li a:hover {
    color: #95989A;
    border-bottom: 3px solid #08A6E4;
}

/* BANER */



/*FONTY*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
